@import "tailwindcss";

/* zajno */
@font-face {
  font-family: "zajno";
  src: url(./assets/sh.woff2);
}
@font-face {
  font-family: "benzin";
  src: url(./assets/Benzin-Medium.woff2);
}
.zajno-background{
  background-color:  #EBEBEB;
}

.zajno-black{
  color: #1A1A1A;
}

/*BarLoader*/
.bar-loader-bg{
  background-color: #02022f;
}

.bar-loader-text{
  color:#FFFFFF;
  font-family: "benzin";
}

.bar-loader{
  background-color: #2423AD;
}

/* hoverBar */
@layer utilities {
  .bg-liquid-glass{
    /* border: 3px solid hsl(0 , 0%, 47%, 0.15); */
    background: hsla(0, 0%, 47%, 0.2);
    backdrop-filter: blur(20px);
    /* box-shadow: inset 0 0 20px 1px hsl(0, 0%, 47%, 0.1); */
  }
}

@font-face {
  font-family: "hover-bar";
  src: url(./assets/hoverBar.woff2);
}