@import "tailwindcss";

/*color variables*/
:root{
  /*zajno loader*/
  --zajno-bg: #EBEBEB;
  --zajno-black: #1A1A1A;
}

/* zajno */
@font-face {
  font-family: "zajno";
  src: url(./assets/sh.woff2);
}

.zajno-background{
  background-color: var(--zajno-bg);
}

.zajno-black{
  color: var(--zajno-black);
}